In [1]:
import pandas as pd
pd.set_option('display.max_columns', None) 
pd.set_option('max_colwidth', None)
pd.set_option('max_rows', None)

In [2]:
NASS_farm = pd.read_csv('NASS_Data/farms.csv')

In [3]:
NASS_dict = pd.read_csv('NASS_Data/variable_lookup.csv')

In [19]:
NASS_counties = pd.read_json('NASS_Data/fips_lookup.json')

In [5]:
NASS_counties.head()

   FIPSTEXT CountyName  Entity StateName
0      1001    Autauga  County   Alabama
1      1003    Baldwin  County   Alabama
2      1005    Barbour  County   Alabama
3      1007       Bibb  County   Alabama
4      1009     Blount  County   Alabama

In [6]:
cols = list(NASS_farm.columns)
print(cols)
NASS_farm.head()

['FIPS', 'FIPSTEXT', 'y17_M001_valueText', 'y17_M001_classRange', 'y17_M001_valueNumeric', 'y17_M002_valueText', 'y17_M002_classRange', 'y17_M002_valueNumeric', 'y17_M003_valueText', 'y17_M003_classRange', 'y17_M003_valueNumeric', 'y17_M004_valueText', 'y17_M004_classRange', 'y17_M004_valueNumeric', 'y17_M005_valueText', 'y17_M005_classRange', 'y17_M005_valueNumeric', 'y17_M006_valueText', 'y17_M006_classRange', 'y17_M006_valueNumeric', 'y17_M007_valueText', 'y17_M007_classRange', 'y17_M007_valueNumeric', 'y17_M008_valueText', 'y17_M008_classRange', 'y17_M008_valueNumeric', 'y17_M009_valueText', 'y17_M009_classRange', 'y17_M009_valueNumeric', 'y17_M010_valueText', 'y17_M010_classRange', 'y17_M010_valueNumeric', 'y17_M058_valueText', 'y17_M058_classRange', 'y17_M058_valueNumeric', 'y17_M059_valueText', 'y17_M059_classRange', 'y17_M059_valueNumeric', 'y17_M060_valueText', 'y17_M060_classRange', 'y17_M060_valueNumeric', 'y17_M061_valueText', 'y17_M061_classRange', 'y17_M061_valueNumeric', 'y17_M062_valueText', 'y17_M062_classRange', 'y17_M062_valueNumeric', 'y17_M063_valueText', 'y17_M063_classRange', 'y17_M063_valueNumeric', 'y17_M064_valueText', 'y17_M064_classRange', 'y17_M064_valueNumeric', 'y17_M065_valueText', 'y17_M065_classRange', 'y17_M065_valueNumeric', 'y17_M066_valueText', 'y17_M066_classRange', 'y17_M066_valueNumeric', 'y17_M067_valueText', 'y17_M067_classRange', 'y17_M067_valueNumeric', 'y17_M068_valueText', 'y17_M068_classRange', 'y17_M068_valueNumeric', 'y17_M069_valueText', 'y17_M069_classRange', 'y17_M069_valueNumeric', 'y17_M070_valueText', 'y17_M070_classRange', 'y17_M070_valueNumeric', 'y17_M071_valueText', 'y17_M071_classRange', 'y17_M071_valueNumeric', 'y17_M076_valueText', 'y17_M076_classRange', 'y17_M076_valueNumeric', 'y17_M077_valueText', 'y17_M077_classRange', 'y17_M077_valueNumeric', 'y17_M078_valueText', 'y17_M078_classRange', 'y17_M078_valueNumeric', 'y17_M079_valueText', 'y17_M079_classRange', 'y17_M079_valueNumeric', 'y17_M080_valueText', 'y17_M080_classRange', 'y17_M080_valueNumeric', 'y17_M081_valueText', 'y17_M081_classRange', 'y17_M081_valueNumeric', 'y17_M082_valueText', 'y17_M082_classRange', 'y17_M082_valueNumeric', 'y17_M083_valueText', 'y17_M083_classRange', 'y17_M083_valueNumeric', 'y17_M091_valueText', 'y17_M091_classRange', 'y17_M091_valueNumeric', 'y17_M092_valueText', 'y17_M092_classRange', 'y17_M092_valueNumeric', 'y17_M093_valueText', 'y17_M093_classRange', 'y17_M093_valueNumeric', 'y17_M201_valueText', 'y17_M201_classRange', 'y17_M201_valueNumeric']

,FIPS,FIPSTEXT,y17_M001_valueText,y17_M001_classRange,y17_M001_valueNumeric,y17_M002_valueText,y17_M002_classRange,y17_M002_valueNumeric,y17_M003_valueText,y17_M003_classRange,y17_M003_valueNumeric,y17_M004_valueText,y17_M004_classRange,y17_M004_valueNumeric,y17_M005_valueText,y17_M005_classRange,y17_M005_valueNumeric,y17_M006_valueText,y17_M006_classRange,y17_M006_valueNumeric,y17_M007_valueText,y17_M007_classRange,y17_M007_valueNumeric,y17_M008_valueText,y17_M008_classRange,y17_M008_valueNumeric,y17_M009_valueText,y17_M009_classRange,y17_M009_valueNumeric,y17_M010_valueText,y17_M010_classRange,y17_M010_valueNumeric,y17_M058_valueText,y17_M058_classRange,y17_M058_valueNumeric,y17_M059_valueText,y17_M059_classRange,y17_M059_valueNumeric,y17_M060_valueText,y17_M060_classRange,y17_M060_valueNumeric,y17_M061_valueText,y17_M061_classRange,y17_M061_valueNumeric,y17_M062_valueText,y17_M062_classRange,y17_M062_valueNumeric,y17_M063_valueText,y17_M063_classRange,y17_M063_valueNumeric,y17_M064_valueText,y17_M064_classRange,y17_M064_valueNumeric,y17_M065_valueText,y17_M065_classRange,y17_M065_valueNumeric,y17_M066_valueText,y17_M066_classRange,y17_M066_valueNumeric,y17_M067_valueText,y17_M067_classRange,y17_M067_valueNumeric,y17_M068_valueText,y17_M068_classRange,y17_M068_valueNumeric,y17_M069_valueText,y17_M069_classRange,y17_M069_valueNumeric,y17_M070_valueText,y17_M070_classRange,y17_M070_valueNumeric,y17_M071_valueText,y17_M071_classRange,y17_M071_valueNumeric,y17_M076_valueText,y17_M076_classRange,y17_M076_valueNumeric,y17_M077_valueText,y17_M077_classRange,y17_M077_valueNumeric,y17_M078_valueText,y17_M078_classRange,y17_M078_valueNumeric,y17_M079_valueText,y17_M079_classRange,y17_M079_valueNumeric,y17_M080_valueText,y17_M080_classRange,y17_M080_valueNumeric,y17_M081_valueText,y17_M081_classRange,y17_M081_valueNumeric,y17_M082_valueText,y17_M082_classRange,y17_M082_valueNumeric,y17_M083_valueText,y17_M083_classRange,y17_M083_valueNumeric,y17_M091_valueText,y17_M091_classRange,y17_M091_valueNumeric,y17_M092_valueText,y17_M092_classRange,y17_M092_valueNumeric,y17_M093_valueText,y17_M093_classRange,y17_M093_valueNumeric,y17_M201_valueText,y17_M201_classRange,y17_M201_valueNumeric
0,0,0,2042220,NaN,2042220.0,-0.87,NaN,-0.87,441,NaN,441.0,1.30,NaN,1.30,-0.15,NaN,-0.15,-5.10,NaN,-5.10,-2.68,NaN,-2.68,-2.16,NaN,-2.16,-0.89,NaN,-0.89,0.88,NaN,0.88,-0.60,NaN,-0.60,39.8,NaN,39.8,1.20,NaN,1.20,6.44,NaN,6.44,1.11,NaN,1.11,17.54,NaN,17.54,44.04,NaN,44.04,0.92,NaN,0.92,35.55,NaN,35.55,16.86,NaN,16.86,48.94,NaN,48.94,0.92,NaN,0.92,2.55,NaN,2.55,31.59,NaN,31.59,64.01,NaN,64.01,60.98,NaN,60.98,6.03,NaN,6.03,28.36,NaN,28.36,3.70,NaN,3.70,73.91,NaN,73.91,3.72,NaN,3.72,11.17,NaN,11.17,85.75,NaN,85.75,6.37,NaN,6.37,5.72,NaN,5.72,75.41,NaN,75.41
1,1001,1001,371,250 - 499,371.0,-0.17,Sparse Data,-0.17,305,180 - 499,305.0,0.03,Sparse Data,0.03,-0.16,Sparse Data,-0.16,-0.13,Sparse Data,-0.13,-0.21,Sparse Data,-0.21,0.05,Sparse Data,0.05,0.00,Sparse Data,0.00,-0.27,Sparse Data,-0.27,0.06,Sparse Data,0.06,29.8,10 - 29,29.8,-0.16,Sparse Data,-0.16,1.25,1 - 4,1.25,-0.34,Sparse Data,-0.34,9.70,5 - 14,9.70,32.58,20 - 39,32.58,-0.21,Sparse Data,-0.21,24.34,20 - 39,24.34,4.22,Less than 5,4.22,25.45,15 - 29,25.45,0.86,Less than 1,0.86,1.17,1 - 2,1.17,14.15,5 - 19,14.15,67.53,60 - 69,67.53,45.18,35 - 49,45.18,10.11,5 - 14,10.11,27.88,20 - 29,27.88,0.18,Less than 1,0.18,58.36,50 - 64,58.36,23.90,20 - 29,23.90,0.90,Less than 5,0.90,93.26,90 - 94,93.26,4.58,Less than 5,4.58,1.35,Less than 2,1.35,76.82,75 - 84,76.82
2,1003,1003,842,750 - 999,842.0,-0.59,Negligible Change,-0.59,208,180 - 499,208.0,0.01,Sparse Data,0.01,-0.47,Negligible Change,-0.47,-1.05,Slight Decrease,-1.05,-0.79,Negligible Change,-0.79,0.36,Sparse Data,0.36,0.44,Sparse Data,0.44,-0.46,Sparse Data,-0.46,-0.35,Sparse Data,-0.35,17.2,10 - 29,17.2,-0.05,Sparse Data,-0.05,4.25,1 - 4,4.25,0.27,Sparse Data,0.27,10.85,5 - 14,10.85,63.18,60 - 79,63.18,0.08,Sparse Data,0.08,53.95,40 - 59,53.95,(D),5 - 19,NaN,19.51,15 - 29,19.51,(D),Less than 1,NaN,1.83,1 - 2,1.83,42.38,35 - 49,42.38,80.79,80 or more,80.79,76.69,75 or more,76.69,5.48,5 - 14,5.48,70.25,60 or more,70.25,15.83,15 - 24,15.83,78.42,75 - 89,78.42,10.64,10 - 19,10.64,54.45,40 or more,54.45,85.27,85 - 89,85.27,5.34,5 - 9,5.34,7.24,5 - 9,7.24,78.15,75 - 84,78.15
3,1005,1005,498,250 - 499,498.0,-0.50,Negligible Change,-0.50,307,180 - 499,307.0,-0.06,Sparse Data,-0.06,0.56,Sparse Data,0.56,-0.69,Negligible Change,-0.69,-0.63,Negligible Change,-0.63,-0.38,Sparse Data,-0.38,0.23,Sparse Data,0.23,-1.02,Sparse Data,-1.02,-1.10,Slight Decrease,-1.10,27.0,10 - 29,27.0,0.76,Sparse Data,0.76,2.36,1 - 4,2.36,-0.31,Sparse Data,-0.31,6.59,5 - 14,6.59,24.42,20 - 39,24.42,0.27,Sparse Data,0.27,16.52,10 - 19,16.52,(D),5 - 19,NaN,30.00,30 - 49,30.00,(D),Less than 1,NaN,7.43,6 - 8,7.43,12.72,5 - 19,12.72,78.84,70 - 79,78.84,48.87,35 - 49,48.87,28.16,15 - 29,28.16,27.11,20 - 29,27.11,1.36,1 - 4,1.36,63.91,50 - 64,63.91,7.19,5 - 9,7.19,(D),Less than 5,NaN,93.37,90 - 94,93.37,3.21,Less than 5,3.21,2.81,2 - 4,2.81,60.64,55 - 64,60.64
4,1007,1007,205,Less than 250,205.0,0.27,Sparse Data,0.27,273,180 - 499,273.0,0.44,Negligible Change,0.44,-0.05,Sparse Data,-0.05,-0.25,Sparse Data,-0.25,0.54,Sparse Data,0.54,-1.38,Sparse Data,-1.38,-0.23,Sparse Data,-0.23,1.47,Sparse Data,1.47,-0.02,Sparse Data,-0.02,14.0,10 - 29,14.0,0.59,Sparse Data,0.59,0.14,Less than 1,0.14,0.65,Sparse Data,0.65,3.97,Less than 5,3.97,28.27,20 - 39,28.27,0.86,Sparse Data,0.86,19.32,10 - 19,19.32,0.61,Less than 5,0.61,29.43,15 - 29,29.43,0.07,Less than 1,0.07,0.76,Less than 1,0.76,8.47,5 - 19,8.47,52.53,50 - 59,52.53,25.89,20 - 34,25.89,4.64,Less than 5,4.64,(D),10 - 19,NaN,0.00,Less than 1,0.00,55.13,50 - 64,55.13,0.00,Less than 5,0.00,(D),Less than 5,NaN,93.17,90 - 94,93.17,1.95,Less than 5,1.95,4.88,2 - 4,4.88,73.17,65 - 74,73.17

In [7]:
NASS_dict.head()

,MapID,Category,Subcategory,MapTitle
0,y17_M123,Crops and Plants,Field Crops Harvested,"Irrigated Corn for Grain, Harvested Acres, as Percent of Corn for Grain, Harvested Acres: 2017"
1,y17_M124,Crops and Plants,Field Crops Harvested,Acres of Corn Harvested for Grain as Percent of Harvested Cropland Acreage: 2017
2,y17_M125,Crops and Plants,Field Crops Harvested,Corn Harvested for Grain - Change in Acreage: 2012 to 2017
3,y17_M126,Crops and Plants,Field Crops Harvested,Acres of Corn for Silage or Greenchop Harvested as Percent of Harvested Cropland Acreage: 2017
4,y17_M127,Crops and Plants,Field Crops Harvested,"Irrigated Sorghum for Grain, Harvested Acres, as Percent of Sorghum for Grain, Harvested Acres: 2017"

In [8]:
# only interested in a few of these columns for this exercise
relevant_farm_codes = ['y17_M059_classRange', 'y17_M061_classRange', 
                       'y17_M063_classRange', 'y17_M066_classRange',
                       'y17_M068_classRange', 'y17_M070_classRange',
                       'y17_M078_classRange', 'y17_M079_classRange',
                       'y17_M080_classRange', 'y17_M081_classRange',
                       'y17_M082_classRange', 'y17_M083_classRange']

boolean_series = NASS_dict.MapID.isin(relevant_farm_codes)
filtered_NASS_dict = NASS_dict[boolean_series]
filtered_NASS_dict.head(15)

Empty DataFrame
Columns: [MapID, Category, Subcategory, MapTitle]
Index: []

In [9]:
# can remove irrelevant headers from NASS_farm
final_NASS_farm_columns = ['FIPS', 'y17_M059_classRange', 'y17_M061_classRange', 
                       'y17_M063_classRange', 'y17_M066_classRange',
                       'y17_M068_classRange', 'y17_M070_classRange',
                       'y17_M078_classRange', 'y17_M079_classRange',
                       'y17_M080_classRange', 'y17_M081_classRange',
                       'y17_M082_classRange', 'y17_M083_classRange']

NASS_farm_filtered = NASS_farm.drop(columns=[col for col in NASS_farm if col not in final_NASS_farm_columns])
#NASS_farm_filtered = NASS_farm_filtered.rename(columns = lambda x : str(x)[:-13])
NASS_farm_filtered = NASS_farm_filtered.rename(columns={NASS_farm_filtered.columns[0]: 'FIPS'})
NASS_farm_filtered.head()

,FIPS,y17_M059_classRange,y17_M061_classRange,y17_M063_classRange,y17_M066_classRange,y17_M068_classRange,y17_M070_classRange,y17_M078_classRange,y17_M079_classRange,y17_M080_classRange,y17_M081_classRange,y17_M082_classRange,y17_M083_classRange
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001,10 - 29,1 - 4,5 - 14,20 - 39,15 - 29,1 - 2,5 - 14,20 - 29,Less than 1,50 - 64,20 - 29,Less than 5
2,1003,10 - 29,1 - 4,5 - 14,40 - 59,15 - 29,1 - 2,5 - 14,60 or more,15 - 24,75 - 89,10 - 19,40 or more
3,1005,10 - 29,1 - 4,5 - 14,10 - 19,30 - 49,6 - 8,15 - 29,20 - 29,1 - 4,50 - 64,5 - 9,Less than 5
4,1007,10 - 29,Less than 1,Less than 5,10 - 19,15 - 29,Less than 1,Less than 5,10 - 19,Less than 1,50 - 64,Less than 5,Less than 5

<h2> Output 1: NASS Farm data </h2>
<p> This is data to capture numeric values with experimental output for variables pertaining to agricultural chemicals used as well as land in farms and land use. The column headers are encoded versions. Lookup table is a separate output. The rows are unique by FIPS, which is a geographic identifier for county/state.<p>

In [10]:
NASS_farm_filtered.to_csv('processed_input_data/NASS_farm.csv', index=False)

<h2> Output 2: FIPS Lookup Table </h2>
<p> This is a lookup table of FIPS information. It contains FIPS, county, state, country. This will be used to transform the final dataset, and will serve as a dimension table when NASS_farm data is merged with the eBird data. <p>

In [11]:
NASS_counties.to_csv('processed_input_data/FIPS_lookup.csv', index=False)

<h2> Output 3: NASS Header Lookup </h2>
<p> This is a lookup table of data provided by NASS. It describes the codes used to define the column headers in the NASS_farm table. It contains the mapping category and descriptions to keep the headers human readable. The table has been filtered to only include relevant column data. <p>

In [12]:
filtered_NASS_dict.to_csv('processed_input_data/NASS_header_lookup.csv', index=False)